.biblioteca > div.biblioteca-header{
	background-color: rgb(68, 102, 187); padding: .6em 0;
}
.biblioteca input[type="file"]{
	display: none;
}
.biblioteca img,
.biblioteca video  {
	max-height: 200px;
    max-width: 100%;
    max-width: 150px;
}
.biblioteca .addfile{
	min-height: 50vh;
}