/* Font Import */
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

::-webkit-input-placeholder { /* WebKit browsers */
    color:#919399;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#333843;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#333843 ;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#333843;
}


/* Reset */
html{
	font-size: 100%;
}
body { 
  color: #6f7b8a; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:13px;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 1.5;
  font-style: normal;	
  font-weight: normal;
  background-color:#f2f4f6;  
  text-rendering: optimizeLegibility;
}
.main-wrapper{
	opacity:1;
}
body.pace-running .main-wrapper{
	opacity:0;
}
body.pace-done .main-wrapper{
	opacity:1;
}
.tableCell{
	vertical-align: top;
}

.navbar > .container .navbar-brand{
	margin-left:0px
}
.navbar-brand{
	line-height: 34px;
	 margin: 33px 0;
	 padding:0;
}
.navbar-static-top, .navbar-fixed-tops{
	position:fixed;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.navbar-top{
position:absolute;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.navbar-default{
	background-image:none;
	background-color:#fff;
	box-shadow:none;
	border-bottom: 1px solid #e5e9ec;
}
.navbar-transparent{
	background-color:transparent;
}

.compressed .navbar-nav > li > a{
	margin: 11px 25px;
	font-family: "Open Sans","Helvetica","Arial";
	text-transform:uppercase;
	letter-spacing:0.8;
	font-size: 0.875em;
	text-rendering: optimizeLegibility;
}
.navbar-brand.compressed {
	margin:13px 0;
}
.navbar-top .navbar-nav{
	margin-top:15px;
}
.navbar-nav > li > a{
	line-height:45px;
	margin: 39px 25px;
	padding:0;
}
.navbar-nav > li > a:hover,.navbar-nav > li > a:focus{
	background-color:transparent;
	border-bottom:#fff 2px solid;
}
.navbar-default  .navbar-nav> li > a:hover,.navbar-default .navbar-nav  > li > a:focus{
	background-color:transparent;
	border-bottom:0px;
}
.navbar-transparent .navbar-nav > .active > a{
	background-image:none;
	box-shadow:none;
	background-color:#fff;
	color:#22262e;
}
.navbar-transparent .navbar-nav > li > a{
	color: #fff;
	font-family: "Open Sans","Helvetica","Arial";
	text-transform:uppercase;
	letter-spacing:0.8;
	font-size: 0.875em;
	text-rendering: optimizeLegibility;
}
.navbar-default .navbar-nav > .active > a{
	background-image:none;
	box-shadow:none;
	background-color:#fff;
	color:#22262e;
}
.navbar-nav > li > a{
	color: #909296;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
}

.navbar-default .navbar-toggle{
	border:none;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:active{
	background-color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#4c5264;
}

.navbar-toggle .icon-bar{
	border-radius: 0px;
	height: 3px;
}
.navbar-transparent .navbar-toggle{
	margin-top: 35px;
}
.navbar-transparent .navbar-toggle .icon-bar{
	background-color:#fff;
}

.navbar-toggle{
	margin-top: 15px;
}

.ha-header {
	height: 140px;
}
.ha-header .navbar-nav > li > a{
	text-align:left
}
.page-header{
	margin: 0px 0 20px;
	border-bottom:0px;
}
.page-header h1, .page-header h2, .page-header h3,.page-header h4 {
	display:inline-block
} 
/* Typography */
h1, h2, h3, h4, h5, h6{
	margin:10px 0;
	text-rendering: optimizeLegibility;
}
h1{
	line-height:46px
}
h2{
	line-height:42px
}
h3{
	line-height:34px
}
h4{
	line-height:28px;
	font-size:16px;
}
h3 small, h4 small, h5 small {
 font-family: 'Open Sans';
  font-weight: 300;	
  color: #444;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small{
	color: #505458;
	font-size: 62%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  color:#505458;
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  padding-bottom: 10px;
}

a {
  text-shadow: none !important;
  color: #0d638f;
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s, opacity 0.1s linear 0s!important;
}

a,a:focus, a:hover, a:active {
  outline: 0;
  text-decoration:none;
}

label.inline{
	display:inline-block;
	position:relative;
	top:0px;
	font-size: 13px;
	
}
ul > li {
	padding-left:0;
	line-height:20px;
}
address{
	margin-bottom:0px;
}
blockquote{
	 padding: 0 0 0 18px;
	  border-left: 5px solid #EEEEEE;
}
blockquote p{
	font-size:16px
}
blockquote small:before{
	 content: "";
}
blockquote.pull-right small:after{
	content: "";
}
blockquote small{
	line-height: 29px;
	color:#8b91a0;
}
.logo{
	margin:18px 14px;
}

.normal{ 
	font-weight:normal;
}

.semi-bold{ 
	font-weight:600;
}

.bold{ 
	font-weight:bold;
}

.all-caps{
	text-transform:uppercase;
}
.light{
	font-weight:300 !important;
}

.small-text{
	font-size:12px !important;
}

.normal-text{
	font-size:13px !important;
}

.large-text{
	font-size:15px !important;
}

.center-text{
	text-align:center !important;
}
.muted {
	color:#b6bfc5;
}
/* Background Colors */
.bg-blue {
  background-color: #00acec !important;
}

.bg-red {
  background-color: #f35958 !important;
}

.bg-yellow {
  background-color: #00acec !important;
}

.bg-green {
  background-color: #0aa699 !important;
}

.bg-purple {
  color: #852b99 !important;
}

.bg-grey {
  color: #555555 !important;
}

/* Font Colors */

.text-black {
  color: #1b1e24 !important;
}

.text-white {
  color: #fff !important;
}

.text-success{
	color:#0AA699 !important;
}
.text-info{
	color:#0090D9 !important;
}
.text-warning{
	color:#fbb05e !important;
}
.text-error{
	color:#F35958 !important;
}

.text-right{
	text-align:right !important;
}

.text-left{
	text-align:left !important;
}

.text-center{
	text-align:center !important;
}

/* Color bands showcase used for demo */ 
.color-bands.green{
	background-color:#0aa699
}

.color-bands.purple{
	background-color:#a272b2
}

.color-bands.red{
	background-color:#f35958
}
.color-bands.blue{
	background-color:#14b9d6
} 

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
}
/*** Fixes & Misc ***/
.middle > * {
  vertical-align: middle;
}
.hide {
  display: none !important;
}
.appear {
 visibility: hidden;
}
.v-align-bottom{
	vertical-align: bottom;
}
.v-align-top{
	vertical-align: top;
}
.v-align-middle{
	vertical-align: middle;	
}

.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}

.padding-10{
	padding:10px;
}
.padding-20{
	padding:20px;
}
/** Padding top **/
.p-t-10{
	padding-top:10px;
}
.p-t-20{
	padding-top:20px;
}
.p-t-30{
	padding-top:30px;
}
.p-t-40{
	padding-top:40px;
}
.p-t-50{
	padding-top:50px;
}
.p-t-60{
	padding-top:60px;
}
.p-t-70{
	padding-top:70px;
}
.p-t-80{
	padding-top:80px;
}
/** Padding Bottom **/
.p-b-10{
	padding-bottom:10px;
}
.p-b-20{
	padding-bottom:20px;
}
.p-b-30{
	padding-bottom:30px;
}
.p-b-40{
	padding-bottom:40px;
}
.p-b-50{
	padding-bottom:50px;
}
.p-b-60{
	padding-bottom:60px;
}
/** Padding Left **/
.p-l-10{
	padding-left:10px;
}
.p-l-20{
	padding-left:20px;
}
.p-l-30{
	padding-left:30px;
}
.p-l-40{
	padding-left:40px;
}
.p-l-50{
	padding-left:50px;
}
.p-l-50{
	padding-left:50px;
}
/** Padding Right **/
.p-r-10{
	padding-right:10px;
}
.p-r-20{
	padding-right:20px;
}
.p-r-30{
	padding-right:30px;
}
.p-r-40{
	padding-right:40px;
}
.p-r-50{
	padding-right:50px;
}
.p-r-60{
	padding-right:60PX;
}

/** Margins **/
.margin-10{
	margin:10px;
}
.margin-20{
	margin:20px;
}
/** Padding top **/
.m-t-10{
	margin-top:10px;
}
.m-t-20{
	margin-top:20px;
}
.m-t-30{
	margin-top:30px;
}
.m-t-40{
	margin-top:40px;
}
.m-t-50{
	margin-top:50px;
}
.m-t-60{
	margin-top:60px;
}
/** Padding Bottom **/
.m-b-10{
	margin-bottom:10px;
}
.m-b-20{
	margin-bottom:20px;
}
.m-b-30{
	margin-bottom:30px;
}
.m-b-40{
	margin-bottom:40px;
}
.m-b-50{
	margin-bottom:50px;
}
.m-b-60{
	margin-bottom:60px;
}
.m-b-70{
	margin-bottom:70px;
}
/** Padding Left **/
.m-l-10{
	margin-left:10px;
}
.m-l-20{
	margin-left:20px;
}
.m-l-30{
	margin-left:30px;
}
.m-l-40{
	margin-left:40px;
}

/** Padding Right **/
.m-r-10{
	margin-right:10px;
}
.m-r-20{
	margin-right:20px;
}
.m-r-30{
	margin-right:30px;
}
.m-r-40{
	margin-right:40px;
}
.inline{
	display:inline-block;
}
.custom-font{
	  font-family: 'Montserrat', sans-serif;
	  letter-spacing: 0.8px;
}
img.resize{
	max-width:100%;
	height:auto
}
.push-bottom{
	position:absolute;
	bottom:0;
}
.push-top{
	position:absolute;
	top:0;
}
/*** section **/
.section.relative{
	 position:relative;
}
.section.first{
	margin-top:68px;
}
.section.white{
	background-color:#fff;
}
.section.grey{
	background-color:#f2f4f6;
}
.section.dark-grey{
	background-color:#e5e9ec;
}
.section.black{
	background-color:#22262e;
}
.section.green{
	background-color:#0aa699;
}
.section.purple{
	background-color:#746487;
}
.section.red{
	background-color:#f35958;
}
.section.blue{
	background-color:#0090d9;
}
p {
margin: 0 0 10px;
line-height: 21px;
}
/** Buttons **/
.btn {
    display: inline-block;
    *display: inline;
     padding: 9px 12px;
	 padding-top:7px ;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #d1dade;
    *border: 0;
    -webkit-border-radius: 3px;
     -webkit-border-radius: 3px;
     -webkit-border-radius: 3px; 
	background-image:none !important;
	border: none;
	text-shadow: none;
	box-shadow:none;	
    transition: all 0.12s linear 0s !important;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;	
}
.btn:focus{
	outline:none;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #c1cace;
    *background-color: #c1cace;
}
.btn-cons{	
	margin-right: 5px;
	min-width: 120px;
	margin-bottom: 8px;
}
/* only for demonstration */
.btn-demo-space{
  margin-bottom: 8px;
}
.demo-placeholder{
	width:100%;
	height:250px;
}
/* */
.btn-social{
	font-size: 20px;
    margin: 10px;
	
}
.btn-social:hover, .btn-social:focus, .btn-social:active, .btn-social.active, .btn-social.disabled, .btn-social[disabled] {
	color:#2d8ebf;
	text-decoration:none;
}
.btn-primary{
	color: #fff;
    background-color: #0aa699;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0b9c8f;
    *background-color: #0b9c8f;
}
.btn-success{
	color: #fff;
    background-color: #0090d9;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #1285d1;
    *background-color: #1285d1;
}
.btn-info{
	color: #fff;
    background-color: #1f3853;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #152639;
    *background-color: #152639;
}
.btn-warning{
	color: #fff;
    background-color: #FBB05E;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f8a142;
    *background-color: #f8a142;
}

.btn-danger{
	color: #fff;
    background-color: #f35958;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #e94847;
    *background-color: #e94847;
}

.btn-danger-dark{
	color: #fff;
    background-color: #b94141;
}
.btn-danger-dark:hover, .btn-danger-dark:focus, .btn-danger-dark:active, .btn-danger-dark.active, .btn-danger-dark.disabled, .btn-danger-dark[disabled] {
    background-color: #e94847;
    *background-color: #e94847;
	color: #fff;
}
.btn-dark{
	color: #fff;
    background-color: #333a49;
}

.btn-transparent{
	color: #fff;
    background-color: rgba(0,0,0,0.27);
}
.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active, .btn-transparent.disabled, .btn-transparent[disabled] {
	background-color: rgba(0,0,0,0.15);
}
.btn-purple{
	color: #fff;
    background-color: #746487;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .btn-purple.disabled, .btn-purple[disabled] {
	background-color: rgba(0,0,0,0.15);
}
.btn-white{
	color: #5e5e5e;
    background-color: #fff;
	border:1px solid #e5e9ec;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
    background-color: #fbfcfd;
    *background-color: #fbfcfd;
	border:1px solid #b4b9be;
}
.btn-link{
	color: #5e5e5e;
    background-color: transparent;
	border:none;
}
.btn-large {
    padding: 11px 19px;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .btn-link.disabled, .btn-link[disabled] {
    background-color: transparent;
    *background-color: transparent;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small {
    padding:3px 12px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -1px;
}
.btn-mini {
    padding:2px 9px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0b9c8f;
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #fbc01e;
}
.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #e94847;
}
.btn-group.open .btn-success.dropdown-toggle {
    background-color: #0090d9;
}
.btn-group.open .btn-info.dropdown-toggle {
    background-color: #152639;
}
.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222;
}

.btn-group.open .btn-white.dropdown-toggle {
    background-color: #fbfcfd;
}
.btn-group > .btn + .dropdown-toggle{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	border-left:1px #f7f7f7 solid;
}
.btn-block + .btn-block {
	margin-top: 8px;
}
.btn .caret{
	margin-left: 3px;
}
.btn .caret.single{
	margin-left: 0px;
}
.btn-group > .dropdown-menu{
	font-size:13px;
}
.btn-group > .dropdown-menu li{
	 padding-left: 0px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
	-webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.20);
	-moz-box-shadow:    0px 0px 5px rgba(86, 96, 117, 0.20);
	box-shadow:         0px 0px 5px rgba(86, 96, 117, 0.20);
  border:none;
  border-radius:3px;
  padding:0px;
  font-size: 13px;
}

.dropdown-menu .divider{
	background-color: #eaedf0;
	 height: 1px;
	 margin:3px 0;
	 border-bottom:0px
}
.dropdown-menu > li > a{
	 line-height: 25px;
	 color: #2a2e36;
	 margin:4px;
	 border-radius:3px;
	 text-align:left;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	color: #1b1e24;
    text-decoration: none;
    background-color: #eff2f3;
    background-image: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #1b1e24;
    text-decoration: none;
    background-color: #eff2f3;
    background-image: none;
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
    color: #999;
}
.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-group > .btn + .dropdown-toggle{
	 padding-right: 10px;
	 border-left: 1px solid #E5E9EC;
}

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active{
	z-index:0;
}
.btn-group > .btn.btn-white:hover, .btn-group > .btn.btn-white:focus, .btn-group > .btn.btn-white:active, .btn-group > .btn.btn-white.active{
	 border: 1px solid #E5E9EC;
}
.btn-group > .btn.btn-mini  + .dropdown-toggle{
	padding-right: 8px;
}

/*** grids ***/
.grid  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.grid:after, .grid:before {
  display: table;
  color: "";
}

.grid-title {  
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.grid-title h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 7px; 
  width:60%;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-title h4 i {
  font-size: 14px;
  margin-right: 5px;
  color: #666;
}

.grid-title .tools,
.grid-title .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}

.grid-title .tools > a {
  display: inline-block;
  height: 16px;
  margin-left:5px;
}

.grid-title .dropdown-menu i {
  color: #000 ;
}

.grid-title .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:.6;  
  filter:'alpha(opacity=60)';
}

.grid-title .actions > .btn-group {
  margin-top: -12px;
}

.grid-title .actions > .btn {
  padding: 4px 10px;
  margin-top: -13px;
}

.grid-title .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

.grid-title .actions > .btn.mini {
  margin-top: -12px;
  padding: 4px 10px;
}

.grid-title .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -2px;
}
.grid .solid .grid-title{
	color:#fff !important;
	border-bottom:1px solid #fff;
}
.grid-body {
  clear: both;  
  padding: 0;  
}

.grid-body.light-blue, .grid.light-blue {
  background-color: #bfd5fa  !important;
}

.grid-body.blue, .grid.blue {
  background-color: #58acf3 !important;
}

.grid-body.red, .grid.red {
  background-color: #f35958 !important;
}

.grid-body.yellow, .grid.yellow {
  background-color: #ffb848 !important;
}

.grid-body.green, .grid.green {
  background-color: #0aa699 !important;
}

.grid-body.purple, .grid.purple {
  background-color: #852b99 !important;
}

.grid-body.light-grey, .grid.light-grey {
  background-color: #fafafa !important;
}

.grid-body.dark-grey, .grid.dark-grey {
  background-color: #555555 !important;
}

.grid-body .btn-toolbar {
  margin: 0px !important;
  padding: 0px !important;
}

.grid-body .btn-group {
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: 10px
}

/*  draggable girds */

.sortable .grid .grid-title {
  cursor: move;
}
.ui-sortable{
	min-height:0px !important;
}
.ui-sortable-placeholder { 
    border: 1px dotted black; 
    visibility: visible !important; 
    height: 100% !important; 
	
}
  
.ui-sortable-placeholder * { 
  visibility: hidden; 
}

.sortable-box-placeholder {
  background-color: #f5f5f5;
  border: 1px dashed #DDDDDD;
  display: block;
  /* float: left;*/
  margin-top: 0px !important;
  margin-bottom: 24px !important;
}

.sortable-box-placeholder * {
  visibility:hidden;
}

/*** Solid colored grid ***/

.grid.solid .grid-title .tools {
  margin-top: 2px;
  border: 0px;
}

.grid.solid .grid-title {
  margin-bottom: 5px;
  border: 0px;
  padding:13px 15px 6px;
  border-bottom:1px solid rgba(255,255,255,0.35) !important; 

}
.grid.solid .grid-title h4{
	color:#fff;
}
.grid.solid .grid-body{
	color:#fff;
	padding:20px;
}
.grid.solid .grid-body h3{
	color:#fff;
}


/*** simple grid ***/

.grid.simple {
   padding:0px !important
   
}
.grid.simple .grid-title {  
   padding:14px 15px 7px 15px;
   border-bottom: 1px solid #eee;
   color: #282323 !important;
   background-color:#fff;
}

.grid.simple .grid-title > .actions > .btn > i {
  color: #fff !important;
}

.grid.simple .grid-title .tools {
  margin-top: 0px;  
  	position:relative;
}
 .grid.simple .grid-title .tools a,.grid.solid .grid-title .tools a{
  	position:relative;
	background: url('../img/icon/portlet-tray.png') no-repeat;
	transition: all 0.1s linear 0s;
}
.grid.simple .grid-title .tools > a.remove, 
.grid.solid .grid-title .tools > a.remove {
	background-position: -66px -38px;
	width: 10px;
	height: 10px;
	top: -5px;

}

.grid.simple .grid-title .tools > a.config,
.grid.solid .grid-title .tools > a.config {
	background-position: -3px -32px;
	width: 22px;
	height: 22px;
}

.grid.simple .grid-title .tools > a.reload,
.grid.solid .grid-title .tools > a.reload {
	background-position: -37px -38px;
	width: 12px;
	height: 10px;
	top: -5px;

}

.grid.simple .grid-title .tools > a.expand,
.grid.solid .grid-title .tools > a.expand {
	background-position: -123px -40px;
	width: 10px;
	height: 6px;
	top: -5px;

}

.grid.simple .grid-title .tools > a.collapse,
.grid.solid .grid-title .tools > a.collapse {
	background-position:-95px -40px;
	width: 9px;
	height: 7px;
	top: -5px;	
}
.grid.simple .form-actions{
	margin-right:-26px !important;
	margin-left:-26px !important;
	margin-bottom:-26px !important;}
/* grid buttons */

.grid.simple.transparent .grid-body {
	background-color:transparent !important;
	border:none;
}
.grid.simple.transparent.opacity .grid-body {
	background-color: rgba(0, 0, 0, 0.28) !important;
	border:none;
}
.grid.simple.more-padding .grid-body{
	padding:46px !important;
}
.grid.simple .grid-body {
  background-color: #fff;
  padding: 26px;
  border:1px solid #dddddd;
  color:#6f7b8a;  
}
.grid.simple .grid-body.no-padding{
  padding: 0px;
}
.grid.simple .grid-body .wrap-body{
  padding: 0 26px;
  padding-top:10px;
}
.grid.simple .grid-body.no-border{
  border:0px;
  padding-top:1px;
}
.grid.simple .grid-body h4{
	color:#282323;	
 }
.grid.simple .grid-body h3{
	color:#282323;	
 } 
.grid.simple .grid-title {  
  margin-bottom: 0px;
  border:1px solid #dddddd;
  border-bottom:0px;
}
.grid.simple .grid-title.no-border{ 
  border:0px;
  border-bottom:0px;
}
.grid.simple.transparent .grid-title {
   border:none;
   border-bottom:1px solid #D7DBE0;
   background-color:transparent;
} 
.grid.simple.vertical.green{
 border-left:4px solid #0aa699;
 border-top:none !important;
}

.grid.simple.horizontal.red .grid-title {
   border-top:4px solid #f35958;
} 

.grid.simple.horizontal.yellow .grid-title {
   border-top:4px solid #ffb848;
} 
.grid.simple.horizontal.green .grid-title {
   border-top:4px solid #0aa699;
} 

.grid.simple.horizontal.purple .grid-title {
   border-top:4px solid #852b99;
} 

.grid.simple.horizontal.grey .grid-title {
   border-top:4px solid #555555;
} 

.grid.simple.horizontal.light-grey .grid-title {
   border-top:4px solid #aaa;
} 

/*** Box grid ***/
.grid.box {
   padding:0px !important
}

.grid.box .grid-title {  
   padding:8px 10px 2px 10px;
   border-bottom: 1px solid #eee;
   color: #fff !important;
}

.grid.box .grid-title > .actions > .btn > i {
  color: #fff !important;
}

.grid.box .grid-title .tools {
  margin-top: 3px;
}
.grid.box .grid-title .tools a{
  background:url(../img/icon/portlet-tray.png) no-repeat;
  width:23px;
  height:23px
}

/* grid buttons */
.grid.box .grid-body {
  background-color: #fff;
  padding: 10px;
}

.grid.box .grid-title {  
  margin-bottom: 0px;
}

.grid.box.blue .grid-title {
  background-color: #58acf3;
} 

.grid.box.blue {  
   border: 1px solid #b4cef8;
   border-top: 0;
}

.grid.box.red .grid-title {
  background-color: #f35958;
} 

.grid.box.red {  
   border: 1px solid #f35958;
   border-top: 0;
}

.grid.box.yellow .grid-title {
  background-color: #ffb848;
} 

.grid.box.yellow {  
   border: 1px solid #fccb7e;
   border-top: 0;
}

.grid.box.green .grid-title {
  background-color: #0aa699;
} 

.grid.box.green {  
   border: 1px solid #0aa699;
   border-top: 0;
}

.grid.box.purple .grid-title {
  background-color: #852b99;
} 

.grid.box.purple {  
   border: 1px solid #af5cc1;
   border-top: 0;
}

.grid.box.grey .grid-title {
  background-color: #555555;
} 

.grid.box.grey {  
   border: 1px solid #9d9c9c;
   border-top: 0;
}

.grid.box.light-grey .grid-title {
  background-color: #aaa;
} 

.grid.box.light-grey {  
   border: 1px solid #eee;
   border-top: 0;
}

/*** Bootstrap Wells ***/
.well {
  background-color: #D1DADE;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;   
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;  
	border:none;
	background-image:none;
	
}
.well.well-large{
  padding: 24px;
  width:auto;
}
.well.well-small{
  padding: 13px;
  width:auto;
}
.well.green{
	background-color:#0aa699;
	color:#fff;
	border:none;
}

/*** Page sidebar ***/
.side-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}

.side-menu > ul > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

.side-menu > ul > li.start > a {
   border-top-color: transparent !important;
}

.side-menu > ul > li:last-child > a {
   border-bottom: 1px solid transparent !important;
}

.side-menu > ul > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 11.5px 31px 11.5px 31px;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  color:#8b91a0;
}

.side-menu > ul > li > a i {
  font-size: 14px;
  margin-right: 5px;
  text-shadow:none; 
}

.side-menu > ul > li.active > a {
  border: none; 
  text-shadow:none;
  /*border-left:4px solid  #0aa699;*/
  /*padding: 10px 25px 10px 21px;*/
}  

.side-menu > ul > li.active > a .selected {
  display: block;
  width: 8px;
  height: 25px;
  background-image: url("../img/sidebar-menu-arrow.png");
  float: right;
  position: absolute;
  right:-8px;
  top:8px;
}

.side-menu ul > li > a > .arrow:before {  
   float: right;
   margin-top: 1px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.side-menu > ul > li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

.side-menu > ul > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin:0px;
  background-color:#22262E;
  padding:8px 0px 10px 0px;

}

.side-menu > ul > li.active > ul.sub-menu {
  display: block;
}

.side-menu > ul > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

.side-menu > ul > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 53px !important;
  color: #e1eaf1;
  text-decoration: none;
  text-shadow: 0 1px 1px #000;
  font-size: 13px;
  font-weight: 300;
  background: none;
}

/* Level 3 */
.side-menu > ul > li > ul.sub-menu  > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px 0px 0px 0px;
}

.side-menu > ul > li > ul.sub-menu  li > a > .arrow:before   {  
   float: right;
   margin-top: 1px;
   margin-right: 20px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.side-menu > ul > li > ul.sub-menu  li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 18px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

.side-menu > ul > li.active > ul.sub-menu > li ul.sub-menu {
  display: block;
}

.side-menu > ul > li > ul.sub-menu > li  ul.sub-menu li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

.side-menu > ul > li > ul.sub-menu  li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  color: #ccc;
  text-decoration: none;
  text-shadow: 0 1px 1px #000;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

.side-menu > ul > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 60px;
}

.side-menu > ul > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 80px;
}

.side-menu > ul > li > ul.sub-menu  li > ul.sub-menu > li > a > i {
  font-size: 13px;
}

/* Slider for iphone and tablets */
.sidr{
	background-color:#22262e;
	box-shadow:none;	
}

/*** Forms Elements***/ 
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

}

input,
button,
select,
textarea {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}
label.done{
  color:#0090d9 !important;
  text-decoration:line-through;
}
.uneditable-input,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-appearance: none !important;   
	color: #282323 
  outline: 0;
  height: 16px;
  padding: 6px 9px !important;
  line-height: 15px;
  font-size: 13px;
  font-weight: normal;
  vertical-align: top;  
  background-color:#fff;
  min-height: 35px;
  filter: none !important;
	  -webkit-box-shadow: none !important;
	     -moz-box-shadow: none !important;
	          box-shadow: none !important;
	  -webkit-border-radius: 0px;
	     -moz-border-radius: 0px;
	          border-radius: 0px;   
			  -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 1px solid #e5e9ec;
transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input.no-boarder {
  border: none;
}
input.dark {
  background-color:#e5e9ec;
  border: none;
}
input {
  border: 1px solid #cecece;
}

textarea {
  height: auto;
}

.uneditable-input.focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.m-uneditable-input:focus {
  border-color: #e5e9ec;
  background-color:#f4f5f7;
  outline: 0 !important;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;      
		  background-color: #f4f5f7;
}

input[type="radio"],
input[type="checkbox"] {
  	margin: 4px 0 0;
  	margin-top: 1px \9;
  	*margin-top: 0;
  	line-height: normal;
	  cursor: pointer;		
  	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;		
}

select,
input[type="file"] {
  height: 34px !important;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  background-image: none !important;
  filter: none !important;
  border: 1px solid #e5e5e5;
  outline: none;
	min-height:35px;
}

select[multiple],
select[size] {
  height: auto !important;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;  
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

input[class*="span"]
{
  float: none;
  height: 34px !important;
  margin-left: 0;
}

select[class*="span"],
textarea[class*="span"]
{
  float: none;
  margin-left: 0;
}

/** Input Size **/
.input-lg{
    border-radius: 3px !important;
    font-size: 18px !important;
    height: 45px !important;
    line-height: 1.33 !important;
}
.input-sm{
    font-size: 13px !important;
	min-height:20!important
}

/** Input Prepends/Appends **/
.input-prepend,
.input-append {
  border: 0;
  display: inline-block;  
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 24px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

.input-append .add-on > .halflings-icon,
.input-prepend .add-on > i,
.input-prepend .add-on > [class^="icon-"]
{
	margin-top: 5px;
	margin-left: 3px;
}

.input-append .add-on > .halflings-icon
.input-append .add-on > i,
.input-append .add-on > [class^="icon-"]
{
	margin-top: 5px;
	margin-left: 0px;
}

.input-append ,
.input-append :focus {
	border-right: 0 !important;
}



.input-append input[class*="span"],
.input-prepend input[class*="span"],
.input-append input,.input-prepend input
{
  display: inline-block !important;  
  width:100%;
  float:left;
}

.xsmall {
  width: 50px !important;
}

.small {
  width: 120px !important;
}

.medium {
  width: 206px !important;
}

.large {
  width: 320px !important;
}

.huge {
  width: 480px !important;
  font-size: 24px !important;
  height: 36px !important;
  line-height: 36px !important;
  padding: 22px 8px !important;
}
.radio, .checkbox{
	margin-bottom:0;
    margin-top:0;
}
.radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	margin-bottom:6px;
	color: #777a80;
}

.radio input[type=radio] {
	display: none;
}
.radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 2.5px;
	background-color: #fff;
	 border:1px solid #c2c6cb;
	border-radius: 99px;
}


.radio label:after {
  font-size: 13px;
  content: "";
  text-align: center;
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 99px;
  left:0px;
  top:1px;   
  background-color: #6f7b8a;  
  border:1px solid #6f7b8a;
}
.radio input[type=radio][disabled]+ label{	
	 opacity: 0.65;
}
.checkbox input[type=radio][disabled]+ label:after {
	background-color:#eceff3;
}

.radio.radio-success label:after { 
	background-color: #0090D9;  
	 border:1px solid #0090D9;
}

.radio.radio-primary label:after { 
	background-color: #0AA699;  
	border:1px solid #0AA699;
}

.radio.radio-info label:after { 
	background-color: #1F3853;  
	 border:1px solid #1F3853;
}

.radio.radio-warning label:after { 
	background-color: #FDD01C;  
	 border:1px solid #FDD01C;
}

.radio.radio-danger label:after { 
	background-color: #F35958;  
	 border:1px solid #F35958;
}

.radio input[type=radio]:checked + label{	
	color: #4d5056;
}
.radio input[type=radio]:checked + label:after { 
  -o-transform: scale(0.63);
  -ms-transform: scale(0.63);
  -moz-transform: scale(0.63);
  -webkit-transform: scale(0.63);
  transform:scale(0.63);
  line-height: 18px;  
  -o-transition: -o-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -ms-transition: -ms-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -moz-transition: -moz-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -webkit-transition: -webkit-transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -o-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -ms-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -moz-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  -webkit-transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
  transition: transform .1s 0s cubic-bezier(0.455, 0.030, 0.215, 1.330);
}
.radio input[type=radio]:checked + label:before {  
	border:1px solid #8e9095;
}
.radio.radio-success input[type=radio]:checked + label:before {  
	border:1px solid #0090D9;
}
.radio.radio-primary input[type=radio]:checked + label:before {  
	border:1px solid #0AA699;
}
.radio.radio-info label input[type=radio]:checked + :before {  
	border:1px solid #1F3853;
}
.radio.radio-warning input[type=radio]:checked + label:before {  
	border:1px solid #FDD01C;
}
.radio.radio-danger input[type=radio]:checked + label:before {  
	border:1px solid #F35958;
}

.checkbox label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	margin-bottom:6px;
	color: #777a80;
	transition: border 0.2s linear 0s,color 0.2s linear 0s;
}
table td .checkbox label {
	padding-left: 0px;
}
table th .checkbox label {
	padding-left: 0px;
}
.star label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	font-size: 18px;
	transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.star label:before {
	font-family: 'FontAwesome';	
	content: "\F005";
	display: inline-block;
	margin-right: 10px;
	position: absolute;
	left: 0px;
	top: -4px;
		font-size: 18px;
	color:#97a3b3;
	transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.star label {
	margin-bottom: 10px;
}
.star  input[type=checkbox] {
	display: none;
}

.star input[type=checkbox]:checked + label:before  {
	color:#ffd200;
}

.checkbox label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	position: absolute;
	left: 0px;
	top: 1.4px;
	background-color: #fff;
	border:1px solid #c2c6cb;
	border-radius: 3px;
	transition: border 0.2s linear 0s,color 0.2s linear 0s;
}


.checkbox label::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left:3.2px;
  top:0px;  
  font-size:11px;  
  transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.checkbox  input[type=checkbox] {
	display: none;
}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:after {
    border-radius: 3px;
}
.checkbox.checkbox-circle label:after {
    border-radius: 99px;
}
.checkbox.checkbox-circle label:before {
    border-radius: 99px;
}

.checkbox input[type=checkbox]:checked + label::after  {
	font-family: 'FontAwesome';
	content: "\F00C";
}
.checkbox input[type=checkbox]:checked + label{
	color: #4d5056;
}

.checkbox input[type=checkbox][disabled]+ label{	
	 opacity: 0.65;
}
.checkbox input[type=checkbox][disabled]+ label:before {
	background-color:#eceff3;
}

.checkbox.check-success input[type=checkbox]:checked + label:before {
	background-color:#0090D9;
	border:1px solid #0090D9;
}
.checkbox.check-success input[type=checkbox]:checked + label::after {
	color:#fff;
}

.checkbox.check-primary input[type=checkbox]:checked + label:before {
		background-color:#0AA699;
	border:1px solid #0AA699;
}
.checkbox.check-primary input[type=checkbox]:checked + label::after {
	color:#fff;
}

.checkbox.check-info input[type=checkbox]:checked + label:before {
	background-color:#1F3853;
	border:1px solid #1F3853;
}
.checkbox.check-info input[type=checkbox]:checked + label::after {
	color:#fff;
}

.checkbox.check-warning input[type=checkbox]:checked + label:before {
	background-color:#FDD01C;
	border:1px solid #FDD01C;
}
.checkbox.check-warning input[type=checkbox]:checked + label::after {
	color:#fff;
}

.checkbox.check-danger input[type=checkbox]:checked + label:before {
	background-color:#F35958;
	border:1px solid #F35958;
}
.checkbox.check-danger input[type=checkbox]:checked + label::after {
	color:#fff;
}

select.xsmall {
  width: 64px !important;
}

select.small {
  width: 134px !important;
}

select.medium {
  width: 220px !important;
}

select.large {
  width: 334px !important;
}
.wysihtml5-toolbar li{
   padding-left: 0px;
}
.bootstrap-tagsinput{
	 border: 1px solid #E5E9EC;
	 border-radius: 3px;
	 box-shadow:none;
	 width:100%;
	 transition: background 0.2s linear 0s;
}
.bootstrap-tagsinput.active-element{
	background-color:#f4f5f7;
}
.bootstrap-tagsinput input{
	border:none;
	margin-bottom:0px;
	min-height:25px;
}

.bootstrap-tagsinput .tag{
	vertical-align: middle;
	padding: 4px 9px;
	margin-top:3px;
	display:inline-block;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active,.bootstrap-tagsinput .tag [data-role="remove"]:hover{
	box-shadow:none;
}
/*** Form stuff ***/
form legend {
  margin: 15px 0px 10px 0px !important;
}
.column-seperation > div[class*="col-"]{
	border-right:1px solid #ddd;
}
.column-seperation > div[class*="col-"]:last-child{
	border-right:0px;
}
.form-no-horizontal-spacing .row-fluid [class*="span"]{
  
}
.form-no-horizontal-spacing .row-fluid .side-label{
	border-right:1px solid #dddddd;
}

.radio, .checkbox{
	padding-left:0px
}
/*** General forms settings ***/
input.placeholder,
textarea.placeholder {
  color: #aaa !important;
}

.help-block {
 margin-top: 10px;
}

.form-inline input {
  margin-bottom: 0px !important;
}

.form-label {
  margin-top: 2px;
}

.form-label .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

.help-inline {
  margin-top: 6px;
}

.help-small {
  font-size: 12px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.success .help-inline.ok:before {
  content: "\f00c";
  font-size: 16px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}

form legend,
.form-view legend {
  margin-bottom: 15px !important;
}

.controls > .radio .checker,
.controls > .checkbox .checker {
  margin-right: 2px !important;
}

.controls > .radio,
.controls > .checkbox {
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 8px !important;
  margin-right: 15px !important;
}

.controls > .radio.line,
.controls > .checkbox.line {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 5px !important;
}

.controls .inline {
  margin-top: 8px; 
}

.form-view .control-group {
  margin-top: 0px;
  margin-bottom: 5px;
}

.uploader {
  margin-top: 2px !important;
}
.hint{ 
	padding:5px 0px 0px 10px;
}

.form form {
  margin: 0px !important;
  padding: 0px !important;
}

.form .form-actions{
  background-color:#f5f5f5 !important;
  margin-top: 0px !important;
  margin-top: 40px;
  padding-left: 190px;
}

.form-group{
	margin-bottom:20px;
}

.form-group .form-label{
	color:#55606e;
	display:inline-block;
	margin-right:8px;
}

.form-group .help{
	color: #A7ABB1;
    font-size: 12px;
}

.form-group .controls{
	margin-top:8px;
}
.form-control{
	border:1px solid #E5E9EC
}
.form-row input, .form-row select, .form-row textarea, .form-row select2{
	margin-bottom:10px;
}
.form-row .radio {
	margin-bottom:7px;
}
.form-row:last-child{
	margin-bottom:0;
}
.section.table{
	margin-bottom:0;
}

/** CSS DIV TABLE **/

.table-layout{
	display: table;
	width: 100%;
}

.table-cell{
	display: table-cell;
	width: 100%;
}
.table-cell.v-middle{
	vertical-align: middle;
}
.table-cell.v-baseline{
	vertical-align: baseline;
}
/** Slides **/
#working-section{
	background-image: url(../img/work.jpg);
	height: 400px;
	background-attachment:fixed;
}
#pricing-section{
	background-image: url(../img/pricing.jpg);
	height: 300px;
	background-attachment:fixed;
}
#green{
	background-image: url(../img/bg/green.png);
	height: 300px;
	background-attachment:fixed;
}

.tp-bannertimer{
	display:none
}
.inner-content{
	padding-top:70px;
	vertical-align:center;
}
/*** Pricing table ***/

.pricing-holder{
	background-color:#fff;
	border-radius:4px;
	padding:15px 0;
		margin: 0 -9px;
}
.pricing-holder .title{
	font-size:24px;	
	padding:15px 20px;
	color:#000000;
}

.pricing-holder .price{
	color:#f35958;
}
.pricing-holder .desc{
	padding:0 20px;
}
.pricing-holder .inner{
	padding:0 10px;
}

.pricing-holder ul.items{
	list-style:none;
	padding-left:0;	
	margin: 0 8px;
	margin-top:14px;
	margin-bottom:17px;
}
.pricing-holder ul.items li{
	margin-bottom:5px;
	padding:13px 10px;
	border-radius:3px;	
	clear:both;
}
.pricing-holder ul.items li.available{
	background-color:#f2f4f5;	
}

.pricing-holder ul.items li .icon-holder{
	display:inline-block;
	vertical-align:top;
	font-size:18px;
	padding-left:13px;
	padding-top:3px;
}

.pricing-holder ul.items li .desc{
	display:inline-block;
	width:80%;
}
.pricing-holder ul.items li .checkbox label{
	padding-left: 2px;
	margin-bottom: 14px;
}
.pricing-holder ul.items li  label{
	cursor:pointer;
	margin-bottom: 0;
	font-size:13px;
}
.pricing-holder.highlighted{
	border:3px solid #0aa699;
	margin-top: -15px;
	padding-bottom: 28px;
	padding-top: 25px;
}

.pricing-holder .btn-block{
	margin: 0 8px;
	width:96%;
	margin-bottom: 14px;
}

.feature-item{
	margin:0 50px;
	text-align:center;
}
/** Slider **/

.orbit-wrapper .content{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	text-align:center;	
}

.orbit-wrapper .wrapper{
	top: 25%;
	position: absolute;
	width:100%;	
}
.slider .title{	
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
	margin-bottom:0.5em;
}
.slider .btn{
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;	
}

.slider .btn-lg{
	padding: 15px 25px;
	margin-bottom:15px;
}
.parrallax-element{
	background-repeat:no-repeat !important;
}

.parallax-background {
	width: 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: 0 0 3px rgba(0,0,0,0.09) inset;
}
.parallax-background .holder {
	padding: 0;
}
.parallax-background.color .item-mask {
	opacity:0.7;
	filter:alpha(opacity=70);
}
.parallax-background.dark .item-mask {	
	background: rgba(92, 92, 92, 0.70);
	box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
}
.parallax-background.light .item-mask {
	background: rgba(255, 255, 255, 0.50);
	box-shadow: 0 0 3px rgba(0,0,0,0.07) inset;
}
.parallax-background .item-mask {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
}

/***  ***/

.feature-list .title{	
  font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 14px;
letter-spacing: 1px;

}

/*** Progress bars **/
.progress{
	height: 12px;
	background-color:#ebeef1;
	background-image:none;
	box-shadow:none;
}
.progress.no-radius{
	border-radius:0px;
}
.progress.no-radius .progress-bar{
	border-radius:0px;
}
.progress.transparent{
	background-color:rgba(0, 0, 0, 0.28);
}
.progress.progress-small{
	height: 4px;
}
.progress.progress-large{
	height: 20px;
}
.progress-bar{
	box-shadow:none;
	border-radius: 3px;
	background-color: #0090D9;
	background-image: none;
}
.progress-bar-success{
	background-color: #0AA699;
	background-image: none;
}
.progress-bar-info{
	background-color: #0090D9;
	background-image: none;
}
.progress-bar-warning{
	background-color: #FDD01C;
	background-image: none;
}

.progress-bar-danger{
	background-color: #F35958;
	background-image: none;
}

.progress-bar-black{
		background-color: #22262e;
	background-image: none;
}
.progress-bar-white{
	background-color: #fff;
	background-image: none;
}
.progress-info .bar, .progress .bar-info{
	background-color: #0090D9;
	background-image: none;
}
.progress-warning .bar, .progress .bar-warning{
	background-color: #FDD01C;
	background-image: none;
}
.progress-danger .bar, .progress .bar-danger{
	background-color: #F35958;
	background-image: none;
}
.progress-white .bar, .progress .bar-white{
	background-color: #fff;
	background-image: none;
}

.progress-success.progress-striped .bar, .progress-striped .bar-success{
	 background-color: #0AA699;
}
.progress-info.progress-striped .bar, .progress-striped .bar-info{
	background-color: #0090D9;
}

.footer{
	font-size:11px;
	color:#3a3e46;
}

 .fullwidthbanner-container{
	width:100% !important;		
	position:relative;
	padding:0;		
	overflow:hidden;
} 

.fullwidthbanner-container .fullwidthabnner	{
	width:100% !important;
	position:relative;	
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* PORTFOLIO */
.portfolio-filter ul{
	list-style:none;	
	margin-left:0;
	padding-left:0;
	float:right;
}
.portfolio-filter li{
	display:inline;
	margin-right:20px
}
.portfolio-filter li a{
	color:#505458;
}
.portfolio-filter li a:hover{
	opacity:0.6
}

.portfolio-grid ul li a.hide {
	display: none;
}

.portfolio-grid {
	width: 101%;
	margin: 0 0 0 -1%;
	padding: 0;
	float: left;
}
.portfolio-grid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.portfolio-grid ul li {
	float: left;
	margin: 0 0 1% 1%;
	padding: 0;
}
.portfolio-grid li .project-title {
	opacity:0;
	font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 14px;
letter-spacing: 1px;
text-transform:uppercase;
margin-bottom:0px;
}
.portfolio-grid li .project-description {
	opacity:0;
}
.portfolio-grid li:hover .project-title { 
		opacity:1;
		-webkit-transition: opacity .4s .5s;
		-moz-transition: opacity .4s .5s;
		-ms-transition: opacity .4s .5s;
		-o-transition: opacity .4s .5s;
		transition: opacity .3s .5s;
}

.portfolio-grid li:hover .project-description {
		opacity:0.9;
		-webkit-transition: opacity .4s .8s;
		-moz-transition: opacity .4s .8s;
		-ms-transition: opacity .4s .8s;
		-o-transition: opacity .3s .8s;
		transition: opacity .3s .8s;		
	}
.portfolio-grid li:hover .item-info-overlay{
		opacity:1;
				transition:all 0.4s ease 0s;
		-moz-transition:all 0.4s ease 0s;
    	-webkit-transition:all 0.4s ease 0s;
    	-ms-transition:all 0.4s ease 0s;
		-o-transition:all 0.4s ease 0s;
}
.isotope-item {
    z-index: 1;
}
.isotope-hidden {
    z-index: 0;
}
.col2 li {
	width: 48.98%;
}
.col3 li {
	width: 32.25%;
}
.col4 li {
	width: 23.92%;
}
.portfolio-grid ul li img {
	float: left;
	width: 100%;
}	
.portfolio-image-wrapper{
	position:relative;
}
.item-info {
	float: left;
}


.item-info-overlay a.overlay-link {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
	left: 0;
	top: 0;
}
/*--------------------------------------------------
		    PORTFOLIO THUMBNAIL HOVER
---------------------------------------------------*/
.item-info-overlay {
}
.item-info-overlay {
	position:absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	opacity:0;
    z-index: 120;
	background: rgba(10, 166, 153, 0.80); 
	text-align: center;
}
.item-info-overlay div {
	margin: 0 9%;
}
.item-info-overlay h3.title {
	margin: 9% 9% 0 9%;
}	
.item-info-overlay h3.title, .item-info-overlay h3.title a {
}
.item-info-overlay h3.title a:hover {
	color: #fff;
}
.item-info-overlay p {
	color: #fff;
}

.item-info-overlay .outline {
	box-shadow: 0 0 0 1px #999 inset;
	color: #999;
	line-height: 16px;
}
.item-info-overlay .outline:hover {
	color: #fff;
}
.item-info-overlay .button + .button {
    margin-left: 5px;
}
   
