.muestra_boton{
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.btn-pagination{
    border-radius: 5px;
    border: none;
    padding: 12px 16px;
}
.selectedBoton{
	background-color: #0c1c5a;
	color: white;
	font-weight: bold;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border-radius: 50%;
	background: #008381;
}
.ui-slider-horizontal .ui-slider-range{
	background: #ff4500;
}
/* para los botones de wsp!*/
.g_button-container{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 100001;
}
.g_button{
    width: 50px;
    height: 50px;
    /*background-color: red;*/
    border-radius: 50%;
}
.no_ver{
    display: none;
}
.icon_g_button{
    color: white;
    font-size: 25px;
    line-height: 50px;
}
.rotaras{
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.rotaras:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
	border-radius: 50%;
    box-shadow: 0px 2px 2px #313131;
    width: 20px;
}


.img_fondo{
    height: auto !important;
    min-height: 356px !important;
}

@media only screen and (max-width: 720px) {
    .img_fondo{
        height: auto !important;
        min-height: 150px !important;
    }
}

.slick-slide .w-100{
    /*margin-left: 2% !important;*/
}

/*SLIDER*/

@media (max-width: 992px) {
  .slick-slider .slick-track, .slick-slider .slick-list{
      height: 250px !important;
    }
    
    .img_fondo .col-6{
        height: 250px !important;
    }
    
    .img_fondo img{
        height: auto !important;
        width: 110% !important;
        position: absolute;
        bottom: 5%;
        right: -50px;
        
    }
    
    .img_fondo h2{
        font-size: 1.8rem;
    }
    
    .slick-prev{
        left:5px;
    }
    
    .slick-next{
        right:5px !important;
    }
    
    .slick-prev{
        left:5px !important;
    }
} 

@media (max-width: 768px) {
  .slick-slider .slick-track, .slick-slider .slick-list{
      height: 250px !important;
    }
    
    .img_fondo .col-6{
        height: 250px !important;
    }
    
    .img_fondo img{
        height: auto !important;
        width: 130% !important;
        position: absolute;
        bottom: 5%;
        right: -50px;
        
    }
    
    .img_fondo h2{
        font-size: 1.8rem;
    }
    
    .slick-prev{
        left:5px;
    }
    
    .slick-next{
        right:5px !important;
    }
    
    .slick-prev{
        left:5px !important;
    }
} 

@media (max-width: 576px) {
  .slick-slider .slick-track, .slick-slider .slick-list{
      height: 200px !important;
    }
    
    .img_fondo .col-6{
        height: 200px !important;
    }
    
    .img_fondo img{
        height: auto !important;
        width: 150% !important;
        position: absolute;
        bottom: 10%;
        right: -50px;
        
    }
    
    .img_fondo h2{
        font-size: 1.4rem;
        position:absolute;
        bottom: 10%;
    }
    
    .slick-prev{
        left:5px;
    }
    
    .slick-next{
        right:5px !important;
    }
    
    .slick-prev{
        left:5px !important;
    }
} 

.disabled{
	display: inherit !important;
 }
.wh-widget-send-button-get-button{
    display: none !important;
}