#headerc{
    background-color: #3077b7;
}

#headerc .header-container {
  /*background: #3477b6;
  border: 2px solid white;*/
  border-radius: 60px;
  margin-left: 200px;
  padding-right: 20px;
  
}

#headerc.header-scrolled {
  background: #3077b7;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  top: 0;
  border:none !important;
}

#headerc .logo {
  overflow: hidden;
  padding: 16px 30px 12px 30px;
  background: none;
}

#headerc .logo h1 {
  font-size: 26px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#headerc .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#headerc .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #headerc {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0;
    background: #3077b7;
  }
  #headerc.header-scrolled, #headerc .header-container {
    background: #3077b7;
  }
  #headerc .logo h1 {
    font-size: 24px;
  }
}



.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    margin: auto;
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1a73bd;
    bottom: 0;
    left: calc(50% - 20px);
}

.principal-image{
  height: 600px;
}
.principal-image img{
  object-fit: cover;
}

.atributo{
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  padding-right: 10px;
  padding-left: 15px;
}
.ejemplo-atributo{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color: #333;
}
.galeria-header{
  font-size: 32px;
  color: #137cc5;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px; 
}
#galeria{
  padding-top: 0;
}
.tipo-image{
  position: relative;
  cursor: pointer;
}
.tipo-image .info{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tipo-image:hover .info{
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}
.tipo-image:hover .info a i{
  color: white;
}

.info a i {
  color: transparent;
}