@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo1{
      height: 40px !important;
    }
  }

/********** FORM HERO *****************/

#form_search{
    margin: 5px;
    background: #f5f5f5c7;
    border-radius:15px;
    padding: 7px 20px 35px;
    box-shadow:5px 5px 10px #5e5e5e;
    width: 30%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    position: absolute;
    left: 60%;
    top: 30%;
    z-index: 20;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #form_search{
      display:none;
    }
  }

.logo-circular{
    width: 30%;
    margin: 0 auto;
    padding: 5px;
    border-radius:60px;
    position: absolute;
    top: -70px;
    transform: translateX(100%);
    background: white;
    box-shadow:1px 1px 10px #5e5e5e;
}

.logo-circular img{
    width: 100%;
}

.tit-form{
    margin-top:45px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #145d9d;
}

ul.menu-form{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom:10px;
}

ul.menu-form li{
    display: inline;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1px 10px;
}

ul.menu-form li:first-child{
    border-right: 1px solid black;
    padding-right: 14px;
}

ul.menu-form li a{
    color: #5e5e5e;
}

ul.menu-form li a.active, ul.menu-form li a:active{
    color: #ac1b22;
    font-weight: 700;
}

.btn-submit{
    background: #b6181d !important;
    color: rgb(255, 255, 255) !important;
    border: none;
}

/*********** HERO **************/
.btn-hero{
    background: #ffef04 !important;
    color: rgb(44, 44, 44) !important;
    font-weight: bold !important;
    transition: all 0.1s !important;
}

.btn-hero:hover{
    font-size: 16px !important;
    border: 2px solid #fff !important;
    color: #000 !important;
}

/********** CONTAINER ***********/

@media only screen and (min-width: 1200px) {
    .container, .container-lg {
        max-width: 1200px !important;
    }
  }

/********** PORTFOLIO **********/

.portfolio .portfolio-wrap{
    height: 350px;
}

.portfolio .portfolio-wrap .portfolio-info{
    opacity: 1 !important;
    background: white !important;
    top: 200px;
    padding: 0 !important;
}

.portfolio-info .row{
    width:90%;
}

.portfolio-info .row .col-lg-10, .portfolio-info .row .col-lg-2{
    /*padding:0;*/
}

.portfolio .portfolio-wrap::before {
    background:none;
}

.portfolio .portfolio-wrap .portfolio-info h4{
    line-height: .5;
    color: #b6181d;
    font-size: 20px !important;
    margin-bottom: .8rem !important;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color:rgb(44, 44, 44) !important;
    font-size: 13px !important;
    font-style: inherit;
    text-transform: inherit;
}

.portfolio .portfolio-wrap .portfolio-info span {
    color:rgb(44, 44, 44) !important;
    font-size: 12px !important;
}

.portfolio .portfolio-wrap .portfolio-links a{
    color:rgb(44, 44, 44) !important;
    font-size: 14px !important;
}

.portfolio .portfolio-wrap .portfolio-links a i{
    font-size:20px;
}

.portfolio .portfolio-wrap .portfolio-links a i.fas{
    font-size:14px;
}

.portfolio .portfolio-wrap .portfolio-links{
    padding-bottom: 12px;
}

.portfolio-wrap .badge{
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 100;
}

.icon-amarillo{
    color: #d4c81a;
}

.icon-azul{
    color: #3077b6;
}

.icon-rojo{
    color: #b6181d;
}

/************ABOUT**************/
#about {
    background: url("../img/about-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
  }
  
  #about::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
  }
  
  #about .container {
    position: relative;
    z-index: 10;
  }
  
  #about .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
  }
  
  #about .about-col .img {
    position: relative;
  }
  
  #about .about-col .img img {
    border-radius: 4px 4px 0 0;
  }
  
  #about .about-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #b6181d;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: 0.3s;
    cursor: pointer;
  }

  .icon-azul{
      cursor: pointer;
  }
  
  #about .about-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
  }
  
  #about .about-col:hover .icon {
    background-color: #fff;
  }
  
  #about .about-col:hover i {
    color: #b6181d;
  }
  
  #about .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
  }
  
  #about .about-col h2 a {
    color: #000;
  }
  
  #about .about-col h2 a:hover {
    color: #b6181d;
  }
  
  #about .about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
  }

  /********WIDGET********/

  section {
    padding: 30px 35px;
    overflow: hidden;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 700;
}

    .bg-header-card{
        background:#b6181d!important;
        border: 0;
    }

  .widget-user-2 .widget-user-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 1rem;
}

.widget-user-2 .widget-user-image>img {
    float: left;
    height: auto;
    width: 65px;
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}

.img-circle {
    border-radius: 50%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.widget-user-2 .widget-user-desc, .widget-user-2 .widget-user-username {
    margin-left: 75px;
}

.widget-user .widget-user-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 195px;
    padding: 1rem;
    text-align: center;
}

.widget-user .widget-user-username {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

.widget-user .widget-user-desc {
    margin-top: 0;
}

.widget-user .widget-user-image {
    left: 50%;
    margin-left: -45px;
    position: absolute;
    top: 80px;
}

.widget-user .widget-user-image>img {
    border: 3px solid #fff;
    height: auto;
    width: 90px;
}

.widget-user-2 .widget-user-desc, .widget-user-2 .widget-user-username {
    margin-left: 75px;
    color: white;
}

.widget-user-2 .widget-user-username {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
}

form, .form-control{
    font-size: 14px;
}

.widget-user .card-footer {
    padding-top: 25px;
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.description-block>.description-header {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.description-block>.description-text {
    text-transform: uppercase;
}

h6, h6 i{
    color: #3077b7;
}  


/* Facts Section
--------------------------------*/
#facts {
    background: url(../../../../../static/templates/plantillas/web/assets/img/fondo_2.jpg) center top no-repeat fixed;
    background-size: cover;
    padding: 10px 0 20px 0;
    position: relative;
  }
  
  #facts::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    z-index: 9;
  }
  
  #facts .container {
    position: relative;
    z-index: 10;
  }
  
  #facts .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #1a73bd;
  }
  
  #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #111;
  }
  
  #facts .facts-img {
    text-align: center;
    padding-top: 30px;
  }

  /* Team Section
--------------------------------*/
#team {
    background: #fff;
    padding: 60px 0;
  }
  
  #team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  #team .member .member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
  }
  
  #team .member .member-info-content {
    margin-top: -50px;
    transition: margin 0.2s;
  }
  
  #team .member:hover .member-info {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: 0.4s;
  }
  
  #team .member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
  }
  
  #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
  }
  
  #team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }
  
  #team .member .social {
    margin-top: 15px;
  }
  
  #team .member .social a {
    transition: none;
    color: #fff;
  }
  
  #team .member .social a:hover {
    color: #1a73bd;
  }
  
  #team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  